<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jimmy.mapper.UserMapper">
    <resultMap id="baseUserResMap" type="com.jimmy.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="userface" property="userface"/>
        <result column="name" property="name"/>
        <result column="desc" property="desc"/>
        <result column="enabled" property="enabled"/>
        <result column="code" property="code"/>
    </resultMap>
    <resultMap id="UserWithRoles" type="com.jimmy.entity.User" extends="baseUserResMap">
        <collection property="roles" ofType="com.jimmy.entity.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="UserWithRoles">
        select u.*, r.id as rid, r.name as rname
        from `user` u, `user_role` mid, `role` r
        where u.id = mid.uid and r.id = mid.rid
        order by u.id
    </select>

    <select id="findById" resultMap="baseUserResMap" parameterType="int">
        select * from `user` where id = #{id}
    </select>

    <select id="findByUserName" resultMap="UserWithRoles" parameterType="string">
        select u.*, r.id as rid, r.name as rname from user u, role r, user_role mid
        where u.id = mid.uid and r.id = mid.rid and u.username = #{username} and u.enabled = 1
        order by u.id
    </select>

    <select id="countUserName" parameterType="string">
        select count(*) from user where username = #{username}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.jimmy.entity.User">
        insert into `user` (id, username, password, email, userface, `name`, `desc`, enabled, code)
        values (null, #{username}, #{password}, #{email}, #{userface}, #{name}, #{desc}, 0, #{code})
    </insert>

    <insert id="addRole">
        insert into user_role (uid, rid)
        values (#{uid}, #{rid})
    </insert>

    <update id="activate" parameterType="string">
        update `user` set enabled = 1 where code = #{code}
    </update>
</mapper>